---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
ColumnLimit: 120
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 0
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
NamespaceIndentation: All
